@keyframes mover {
    0% { transform: translateX(0); background-color: lightcoral; }
    50% { transform: translateX(200px); background-color: lightseagreen; }
    100% { transform: translateX(0); background-color: lightcoral; }
}

.caja {
    width: 150px;
    height: 150px;
    background-color: lightblue;
    animation: mover 2s infinite ease-in-out;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 8px;
}
