.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 10px;
    gap: 10px;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px solid darkred;
    flex: 1 1 100px;
    text-align: center;
}

.item_especial {
    align-self: flex-start;
    background-color: yellow;
    padding: 20px;
    border: 2px solid darkred;
    flex: 1 1 100px;
    text-align: center;
}

