.grid {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    gap: 10px;
    background-color: black;
    padding: 10px;
}

.item {
    background-color: lightgray;
    padding: 20px;
    border: 2px solid whitesmoke;
    text-align: center;
    border: 20px solid white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}



